*{
    margin: 0;
    padding: 0;
}

#btn{

    width: 300px;
    height: 150px;

    background-color: orangered;

    margin-top: 100px;
    margin-left: 200px;

    border: 20px solid silver;
    border-radius: 40px;

    background-image: url(/html5/images/신짱구.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 50%;
    /* background-attachment: fixed; */


}

#btn:hover{
    border: 20px solid #ccc;
}

#btn>a {
    
    display: block;
    
    font-size: 300%;
    font-style: italic;
    font-weight: bold;

    text-align: center;

    line-height: 150px;

}

#btn>a:hover{
    color: snow;
}